.Button--bare {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

.Button--bare:hover,
.Button--bare:active,
.Button--bare:focus {
  text-decoration: none;
}

.Button--solid {
  border: none;
  cursor: pointer;
  text-decoration: none !important;
  background: linear-gradient(326.28deg, #DD4B39 44.15%, rgba(255, 255, 255, 0) 255.53%), #FFE53B;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 100ms ease-in-out;
}

.Button--solid:hover,
.Button--solid:active,
.Button--solid:focus {
  color: #FFF !important;
  background-color: #a71d0c;
  text-decoration: none;
}
