.CTAButton {
  background: linear-gradient(326.28deg, #DD4B39 44.15%, rgba(255, 255, 255, 0) 255.53%), #FFE53B;
  color: white;
  padding: 10px 20px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #ffffff;

  &:hover,
  &:active,
  &:focus {
    color: #eee;
  }
}

