.CTAButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DD4B39;
}

.CTAButton-label {
    font-size: 13px;
    font-family: "Montserrat" , sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.CTAButton-label:hover,
.CTAButton-label:active,
.CTAButton-label:focus{
    color: #eee;
}