.HeroGraphic-cloudLeft {
    animation: rightToLeft 5s infinite;
}

@keyframes rightToLeft {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(5px)
    }
    100% {
        transform: translateX(0px)
    }
}

.HeroGraphic-cloudRight {
    animation: leftToRight 4s infinite;
}

@keyframes leftToRight {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(-10px)
    }
    100% {
        transform: translateX(0px)
    }
}

.HeroGraphic-starCenter {
    animation: blink 5s infinite;
}

@keyframes blink {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.HeroGraphic-starRight {
    animation: blink 3s infinite;
    animation-delay: 5s;
}
