.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    top: 0;
    right: 0;
}

.Navbar-linkLabel{
    color: #ffffff;
    font-size: 13px;
    font-family: "Montserrat";
}

.TicketsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DD4B39;
    width: 130px;
    height: 50px;
    border: none;
}

.TicketsButton-label {
    font-size: 13px;
    font-family: "Montserrat";
    color: #ffffff;
}
