.navbar-item:hover,
.navbar-item:active,
.navbar-item:focus {
  background: #333 !important;
}

.navbar-item.navbar-item--link {
  background: transparent !important;
}

.navbar-link {
  color: #fff;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.navbar-link:hover,
.navbar-link:active,
.navbar-link:focus {
  background: transparent;
  color: #eee;
}

.navbar-button {
  background-color: #dd4b39;
  border: none;
  padding: 10px 25px;
  color: white;

  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.navbar-button:hover,
.navbar-button:active,
.navbar-button:focus {
  color: #eee;
}
