.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    right: 0;
}

.Navbar-linkLabel{
    color: #ffffff;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.Navbar-linkLabel:hover,
.Navbar-linkLabel:active,
.Navbar-linkLabel:focus{
    color: #eee;
}