.SectionHeading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SectionHeading {
    color: #ffffff;
    padding-right: 50px;
}

@media only screen and (max-width: 800px) {
    .SectionHeading-container{
        flex-wrap: wrap;
        text-align: left;
        padding-left: 20px;
    }

    .SectionHeading {
        color: #ffffff;
        padding-right: 0px;
    }
}